body{
    margin:20%;
    color: rgb(164, 139, 86);
    text-align: center;
}

button {
    border: 2px solid rgb(164, 139, 86);
    border-radius:10px;
    background-color: transparent;
    cursor: pointer;
    padding:0 20px;
    color: rgb(164, 139, 86);
}
a {
    color: rgb(164, 139, 86);
    text-decoration: none;
}
button:hover{
    background-color: rgb(164, 139, 86);
    z-index: -10px;
}
button:hover h1{
    color:rgb(255, 250, 235);
    z-index:10px;
}
button:active{
    background-color: rgb(126, 100, 45);
    color: white;
}
button:active a{
    color: white;
}